In [1]:
# Installations
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\admin\anaconda3\lib\site-packages (3.0.1)

In [2]:
# IMPORT LIBRARIES

# import pandas to read excel sheet
import pandas as pd

# import xlsxwriter module
import xlsxwriter

In [3]:
# CREATING EXCEL FILE

# which is the filename that we want to create.
workbook = xlsxwriter.Workbook('Class.xlsx')
 
# The workbook object is then used to add new
# worksheet via the add_worksheet() method.
worksheet = workbook.add_worksheet()
 
# Use the worksheet object to write
# data via the write() method.
worksheet.write('A1', 'Name')
worksheet.write('B1', 'Class')
worksheet.write('C1', 'Division')
worksheet.write('D1', 'Marks')

worksheet.write('A2', 'Stephi')
worksheet.write('B2', 'V')
worksheet.write('C2', 'A')
worksheet.write('D2', '78')

worksheet.write('A3', 'Amartya')
worksheet.write('B3', 'V')
worksheet.write('C3', 'B')
worksheet.write('D3', '96')

worksheet.write('A4', 'Saptashri')
worksheet.write('B4', 'V')
worksheet.write('C4', 'A')
worksheet.write('D4', '89')

worksheet.write('A5', 'Ismail')
worksheet.write('B5', 'V')
worksheet.write('C5', 'C')
worksheet.write('D5', '96')
 
# Finally, close the Excel file
# via the close() method.
workbook.close()

In [4]:
# READ THE EXCEL FILE
file = pd.read_excel('Class.xlsx')

In [5]:
# EXCEL FILE 
file.head()

        Name Class Division  Marks
0     Stephi     V        A     78
1    Amartya     V        B     96
2  Saptashri     V        A     89
3     Ismail     V        C     96