In [1]:
# IMPORT LIBRARIES
import numpy as np
import pandas as pd

import warnings
# Filter warnings
warnings.filterwarnings('ignore')

In [2]:
# IMPORT EXCEL
file = pd.read_excel('List.xlsx')

In [4]:
# FIRST FIVE COLUMNS OF EXCEL SHEET
file.head()

       Name  Marks      Date of Joining   Skill Level
0    Arjuna     90  2019-11-11 00:00:00          Java
1    Jayant     67           13/12/2020        Python
2     Krish     98  2021-12-04 00:00:00  Data Science
3  Sarishma     86           23/09/2020  Data Analyst