# Tasks
1.Write a python programm for merge two excel file data to one file

Write a python programm to shorting file in different folder means main folder containing 40 word file. Now after shorting create 4 child folder and store 10 file each folder.

2.Write a python programm separate duplicate file. Check with mobile number in main excel file and test data doc and if it is same or equal create sperate file and store duplicate file data

3.Write a python programm for Shorting file by keywords. input: folder path = text value Create new folder=text value Search Keyword= text value Output: Creat folder with input value and inside folder all shorting files displaying.

# Write a python programm for merge two excel file data to one file

In [2]:
import pandas as pd
df_1 = pd.read_excel('F:/Yoshops/task_5/task_1/List.xlsx')
df_2 = pd.read_excel('F:/Yoshops/task_5/task_1/List1.xlsx') 
df=pd.concat([df_1, df_2], axis=1)
print("excel sheet 1 :")
print(df_1)
print("excel sheet 2 :")
print(df_2)
print("merged excel sheet :")
print(df)

excel sheet 1 :
   ID   Name  Marks Date of Joining
0   1  Ajima     60       23/9/2020
1   2  Ankur     89       23/9/2020
2   3  Kunal     57       23/9/2020
3   4    Sri     65       23/9/2020
excel sheet 2 :
  Section   Skill Level
0       A          Java
1       A        Python
2       B  Data Science
3       B  Data Analyst
merged excel sheet :
   ID   Name  Marks Date of Joining Section   Skill Level
0   1  Ajima     60       23/9/2020       A          Java
1   2  Ankur     89       23/9/2020       A        Python
2   3  Kunal     57       23/9/2020       B  Data Science
3   4    Sri     65       23/9/2020       B  Data Analyst

# Write a python programm to sorting file in different folder means main folder containing 40 word file. Now after sorting create 4 child folder and store 10 file each folder.

In [3]:
import os
import shutil

target_folder = r'F:\Yoshops\task_5\task_2\master'+'\\'
source_folder = r'F:\Yoshops\task_5\task_2\folder'+'\\'

for path,dir,files in os.walk(source_folder):
    print(path)
    print(files)

F:\Yoshops\task_5\task_2\folder\
[]
F:\Yoshops\task_5\task_2\folder\f1
['aa.DOCX', 'ab.DOCX', 'dk.DOCX', 'ds.DOCX', 'du.DOCX', 'hi.DOCX']
F:\Yoshops\task_5\task_2\folder\f2
['jk.DOCX', 'ke.DOCX', 'qs.DOCX', 'ut.DOCX', 'uy.DOCX', 'vf.DOCX', 'zu.DOCX']
F:\Yoshops\task_5\task_2\folder\f3
['an.DOCX', 'ap.DOCX', 'baz.DOCX', 'be.DOCX', 'bj.DOCX']
F:\Yoshops\task_5\task_2\folder\f4
['lk.DOCX', 'ms.DOCX', 'nd.DOCX', 'nj.DOCX', 'nt.DOCX', 'oe.DOCX', 'op.DOCX', 'pj.DOCX']
F:\Yoshops\task_5\task_2\folder\f5
['ki.DOCX', 'lo.DOCX', 'lp.DOCX', 'mk.DOCX', 'ml.DOCX', 'nju.DOCX', 'nw.DOCX']
F:\Yoshops\task_5\task_2\folder\f6
['ax.DOCX', 'az.DOCX', 'baa.DOCX', 'bav.DOCX', 'bb.DOCX']
F:\Yoshops\task_5\task_2\folder\f7
['js.DOCX', 'pw.DOCX']

In [4]:
for path,dir,files in os.walk(source_folder):
    if files:
        for file in files:
            if not os.path.isfile(target_folder + file):
                os.rename(path + '\\' + file, target_folder + file)

In [5]:
for path,dir,files in os.walk(target_folder):
    print(path)
    print(files)

F:\Yoshops\task_5\task_2\master\
['aa.DOCX', 'ab.DOCX', 'an.DOCX', 'ap.DOCX', 'ax.DOCX', 'az.DOCX', 'baa.DOCX', 'bav.DOCX', 'baz.DOCX', 'bb.DOCX', 'be.DOCX', 'bj.DOCX', 'dk.DOCX', 'ds.DOCX', 'du.DOCX', 'hi.DOCX', 'jk.DOCX', 'js.DOCX', 'ke.DOCX', 'ki.DOCX', 'lk.DOCX', 'lo.DOCX', 'lp.DOCX', 'mk.DOCX', 'ml.DOCX', 'ms.DOCX', 'nd.DOCX', 'nj.DOCX', 'nju.DOCX', 'nt.DOCX', 'nw.DOCX', 'oe.DOCX', 'op.DOCX', 'pj.DOCX', 'pw.DOCX', 'qs.DOCX', 'ut.DOCX', 'uy.DOCX', 'vf.DOCX', 'zu.DOCX']

In [6]:
import os
dir_name = 'F:/Yoshops/task_5/task_2/master/'
# Get list of all files in a given directory sorted by name
list_of_files = sorted( filter( lambda x: os.path.isfile(os.path.join(dir_name, x)),
                        os.listdir(dir_name) ) )
for file_name in list_of_files:
    print(file_name)

aa.DOCX
ab.DOCX
an.DOCX
ap.DOCX
ax.DOCX
az.DOCX
baa.DOCX
bav.DOCX
baz.DOCX
bb.DOCX
be.DOCX
bj.DOCX
dk.DOCX
ds.DOCX
du.DOCX
hi.DOCX
jk.DOCX
js.DOCX
ke.DOCX
ki.DOCX
lk.DOCX
lo.DOCX
lp.DOCX
mk.DOCX
ml.DOCX
ms.DOCX
nd.DOCX
nj.DOCX
nju.DOCX
nt.DOCX
nw.DOCX
oe.DOCX
op.DOCX
pj.DOCX
pw.DOCX
qs.DOCX
ut.DOCX
uy.DOCX
vf.DOCX
zu.DOCX

In [7]:
import os
path = 'F:/Yoshops/task_5/task_2/sorted/'
for i in range(0,4):
    os.chdir(path)
    Newfolders = 'SubFolder'+str(i)
    os.makedirs(Newfolders)

In [8]:
i=0
j=0
k=0
for i in range(0,4):
    for j in range(0,10):
        src = 'F:/Yoshops/task_5/task_2/master/'+list_of_files[k]
        dst = 'F:/Yoshops/task_5/task_2/sorted/Subfolder'+str(i)
        shutil.copy2(src,dst)
        k=k+1

# Write a python programm separate duplicate file

In [9]:
# Importing Libraries
import os
from pathlib import Path
from filecmp import cmp
  
  
# list of all documents
DATA_DIR = Path('F:/Yoshops/task_5/task_3')
files = sorted(os.listdir(DATA_DIR))
  
# List having the classes of documents
# with the same content
duplicateFiles = []
  
# comparison of the documents
for file_x in files:
  
    if_dupl = False
  
    for class_ in duplicateFiles:
        # Comparing files having same content using cmp()
        # class_[0] represents a class having same content
        if_dupl = cmp(
            DATA_DIR / file_x,
            DATA_DIR / class_[0],
            shallow=False
        )
        if if_dupl:
            class_.append(file_x)
            break
  
    if not if_dupl:
        duplicateFiles.append([file_x])
  
# Print results
print(duplicateFiles)

[['A - Copy.DOCX', 'A.DOCX'], ['B - Copy.DOCX', 'B.DOCX'], ['C - Copy.DOCX', 'C.DOCX'], ['D.DOCX'], ['E.DOCX']]

# Check excel file and create sperate file and store duplicate data

In [12]:
import pandas as pd
df_master = pd.read_excel('F:/Yoshops/task_5/task_4/master-excel.xlsx')
print(df_master)

      Name  Age      City  Mobile Number
0    Stuti   28  Varanasi     8789956456
1   Saumya   32     Delhi     8790006456
2  Aaditya   25    Mumbai     8789956890
3   Saumya   32     Delhi     9489956456
4   Saumya   32     Delhi     9489956456
5   Saumya   32    Mumbai     8989956456
6  Aaditya   40  Dehradun     9490956456
7  Aaditya   40  Dehradun     9490956456
8    Seema   32     Delhi     8489956456

In [13]:
# Selecting duplicate rows except first
# occurrence based on all columns
duplicate = df_master[df_master.duplicated()]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
duplicate

Duplicate Rows :

      Name  Age      City  Mobile Number
4   Saumya   32     Delhi     9489956456
7  Aaditya   40  Dehradun     9490956456

In [1]:
#pip install openpyxl

In [15]:
# creating excel writer object
writer_duplicate = pd.ExcelWriter('duplicate-excel.xlsx')
# write dataframe to excel
 
duplicate.to_excel(writer_duplicate)
 
# save the excel
writer_duplicate.save()

In [16]:
df_no_duplicates = df_master.drop_duplicates()
print("New Dataframe After Removes Duplicate Rows :")
 
# Print the resultant Dataframe
df_no_duplicates

New Dataframe After Removes Duplicate Rows :

      Name  Age      City  Mobile Number
0    Stuti   28  Varanasi     8789956456
1   Saumya   32     Delhi     8790006456
2  Aaditya   25    Mumbai     8789956890
3   Saumya   32     Delhi     9489956456
5   Saumya   32    Mumbai     8989956456
6  Aaditya   40  Dehradun     9490956456
8    Seema   32     Delhi     8489956456

In [17]:
# creating excel writer object
writer_no_duplicate = pd.ExcelWriter('no-duplicate-excel.xlsx')
# write dataframe to excel
 
df_no_duplicates.to_excel(writer_no_duplicate)
 
# save the excel
writer_no_duplicate.save()

# Sort files in a folder based on their size

In [19]:
import os
import shutil
# The folder containing files.
directory = 'F:/Yoshops/task_5/task_5/source'

# Get all files.
list = os.listdir(directory)

# Loop and add files to list.
pairs = []
for file in list:

    # Use join to get full file path.
    location = os.path.join(directory, file)

    # Get size and add to list of tuples.
    size = os.path.getsize(location)
    pairs.append((size,file))

# Sort list of tuples by the first element, size.
pairs.sort(key=lambda s: s[0])

i=0
# Display pairs.
for pair in pairs:
    #src = 'F:/Yoshops/task_5/task_5/source/'+pair[1]
    #dst = 'F:/Yoshops/task_5/task_5/destination/size'+str(i)
    #shutil.copy2(src,dst)
    
    print(pair)
    i=i+1

path = 'F:/Yoshops/task_5/task_5/destination/'
for j in range(0,i):
    os.chdir(path)
    Newfolders = 'size'+str(j)
    os.makedirs(Newfolders)

(18987, 'Differentiated Brand 3rd April.docx')
(28018, 'Iron Lady Program Graduation Report REMYA RS.docx')
(85956, 'Aspiration list.docx')
(165868, 'Joyita Mondal.docx')
(957778, 'Padmashri Sangkhumi Bualchhuak.docx')

In [20]:
i=0
# Display pairs.
for pair in pairs:
    src = 'F:/Yoshops/task_5/task_5/source/'+pair[1]
    dst = 'F:/Yoshops/task_5/task_5/destination/size'+str(i)
    shutil.copy2(src,dst)
    i=i+1